services:
  gateway-service:
    image: oven/bun:latest
    working_dir: /app
    volumes:
      - ./gateway-service:/app
    networks:
      - graphql-network
    ports:
      - 4002:4002
    command: bun run dev
    environment:
      - YOGA_SERVICE_URL=http://yoga-service:4006/graphql
    depends_on:
      - yoga-service
      
  yoga-service:
    image: oven/bun:latest
    working_dir: /app
    volumes:
      - ./yoga-service:/app
    networks:
      - graphql-network
    ports:
      - 4006:4006
    command: sh -c "bun install && bun run start"
networks:
  graphql-network:
    driver: bridge